<core-drawer-panel id="drawerPanel">

  <core-header-panel drawer flex>
    <core-toolbar id="navheader">
      <span flex class="site-title"><a href="{{ site.baseurl }}">{{ site.title }}</a></span>
    </core-toolbar>

    <core-menu>
      {% for page in site.pages %}
        {% if page.title %}
          <core-item label="{{ page.title }}"><a href="{{ page.url }}"></a></core-item>
        {% endif %}
      {% endfor %}
    </core-menu>
  </core-header-panel>

  <core-header-panel main class="waterfall">
    <core-toolbar id="mainheader">
        <paper-icon-button id="navicon" icon="menu"></paper-icon-button>
        <span flex>{{ page.title }}</span>
    </core-toolbar>
  </core-header-panel>

</core-drawer-panel>


 