<core-header-panel>


  <core-toolbar>
   
    <span flex class="site-subtitle">{{ site.subtitle }}</span>
    <paper-icon-button icon="menu"></paper-icon-button>
    <paper-tabs id="tabs" class="site-nav" selected="{{ selected }}" link self end>
       <paper-tab id="{{ site.title }}" name="{{ site.title }}" class="site-title"><a href="{{ site.baseurl }}" horizontal center center layout>{{ site.title }}</a></paper-tab>
        {% for page in site.pages %}
          {% if page.title %}
            <paper-tab id="{{ page.title }}" name="{{ page.title }}"><a href="{{ page.url }}" horizontal center center layout>{{ page.title }}</a></paper-tab>
          {% endif %}
        {% endfor %}
    <paper-icon-button icon="refresh"></paper-icon-button>
    <paper-icon-button icon="more-vert"></paper-icon-button>

  </core-toolbar>


</core-header-panel>
