<core-scaffold mode="waterfall" responsiveWidth='150px'>

  <core-header-panel navigation flex>
    <core-toolbar id="navheader">
      <span flex class="site-title"><a href="{{ site.baseurl }}">{{ site.title }}</a></span>
    </core-toolbar>

    <core-menu>
      {% for page in site.pages %}
        {% if page.title %}
          <core-item label="{{ page.title }}"><a href="{{ page.url }}"></a></core-item>
        {% endif %}
      {% endfor %}
    </core-menu>
  </core-header-panel>

  <span class="site-title" tool>{{ site.title }}</span>
  <span class="site-subtitle" tool>{{site.subtitle}}</span>
</core-scaffold>
 