/**
 * Site header
 */

/* .site-header {
    position: fixed;
    width: 100%;
    border-top: 5px solid $brand-color;
    border-bottom: 1px solid $brand-color;
    max-height: 50px;
    background-color: $header-color;
    font-size: .90rem;
} */

header.sticky {
   position: fixed;
   top: 2px;
   right: 0px;
   background-color: $header-color;
   border: 1px solid $grey-color-light;
   border-radius: 5px;
   text-align: right;
   font-size: 0.80rem;
   .menu-icon {
       display: block;
       float: right;
       width: 36px;
       height: 26px;
       line-height: 0;
       padding-top: 14px;
       text-align: center;
       > svg {
           width: 18px;
           height: 15px;
           path {
               fill: $grey-color;
           }
       }
    }
    .trigger {
            clear: both;
            display: none;
        }
        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }
        .page-link {
            display: block;
            padding: 5px 10px;
        }

}
.site-title {
    font-family: $title-font-family;
    font-size: 24px;
    letter-spacing: -1px;
    margin: 5px 0 0 10px;
    float: left;
    color: $header-text-color;
    &, &:visited {
        color: $grey-color-light;
    }
    @include media-query($on-palm) {
        font-size: 18px;
        margin-top: 1px;
        margin-left: 0;
    }
}

.site-subtitle {
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 0;
    float: left;
    line-height: 56px;
    letter-spacing: -1px;
    color: $header-text-color;
    display: inline-block;
    @include media-query($on-palm) {
        font-size: 14px;
        margin-left: 10px;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    .menu-icon {
        display: none;
    }
    .page-link {
        color: $header-text-color;
        line-height: $base-line-height;
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
    @include media-query($on-palm) {
        }
}

