/**
 * Site header
 */
 core-header-panel {
    height: 100%;
    -webkit-overflow-scrolling: touch;
}
core-toolbar {
    width: 100%;
    color: white;
}
 #tabs {
    width: 60%;
    -webkit-user-select: touch;
    -moz-user-select: touch;
    -ms-user-select: touch;
    user-select: touch;
    text-transform: uppercase;
}
core-toolbar a {
    color: white !important;
    text-decoration: none;

    &:visited {
        color: darken(white, 10%) !important;
    }

    &:hover {
        color: lighten(white, 10%) !important;
    }
}
.container {
    display: block;
    position: relative;
    z-index: 12;
}
.content {
    padding: 20px;
}
.site-header {
    border-top: 5px solid $brand-color;
    border-bottom: 1px solid $brand-color;
    background-color: $header-color;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-family: $title-font-family;
    font-size: 2.2em;
    color: $header-text-color;

    &,
    &:visited {
        color: white;
    }
    @include media-query($on-laptop) {
        font-size: 1.5em;
        margin-left: 0.5em;
    }
    @include media-query($on-palm) {
        font-size: 1.0em;
        margin-left: 0;
    }
}
.site-subtitle {
    font-size: 1.2em;
    margin-left: 2em;
    margin-bottom: 0;
    float: left;
    letter-spacing: -1px;
    color: $header-text-color;
    display: inline-block;

    @include media-query($on-laptop) {
        font-size: 0.7em;
        margin-left: 15px;
    }

    @include media-query($on-palm) {
        font-size: 14px;
        margin-left: 10px;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $header-text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $header-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $brand-color;
    padding: $spacing-unit 0;
    background-color: $header-color;
}
.site-footer a {
    color: white;

    &:visited {
        color: white;
    }
    &:hover {
        color: darken(white, 10%);
    }
}


.footer-heading {
    font-family: $title-font-family;
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
    color: #222;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}
.scrollup {
    background: url("../img/icon_gototop.png") no-repeat scroll 0 0 transparent;
    bottom: 20px;
    display: none;
    height: 40px;
    position: fixed;
    right: 20px;
    text-indent: -9999px;
    width: 40px;
}
.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
 */
#page-content {
    margin-top: 4em;
    padding: $spacing-unit 0;
}

.page-heading {
    font-family: $primary-font-family;
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-family: $primary-font-family;
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 28px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 24px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h3 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    h4 {
        font-size: 17px;
        margin-bottom: 0;
        @include media-query($on-laptop) {
            font-size: 16px;
        }
    }
}

/**
 * Customs
 **/

.color--gray {
    color: $grey-color-dark;
}
.color--green {
    color: $green-color;
}
#hello {
    font-size: 1.6em;
}
#get-started {
    font-size: 1.35em;

}
#objective {
    
}
#tagline {

}
.content {
    display: inline-block;
    width: 60%;
    margin: 10px;
    padding: 8px;
}
.img-holder {
    width: 150px;
    height: auto;
    float: left;
    display: inline-block;
}
.img-holder img {
    width: 150px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

