<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-landing">
        <div class="wrapper">
            <div>
                {% if page.url == '/about.html' or page.url == '/employment.html' or page.url == '/posts.html' or page.url == '/projects.html' or page.url == '/education.html' %}
                    <h5><a href="{{ '/index.html' | prepend: site.url }}">Home </a>-> <a href="{{ page.url }}">{{page.title}}</a></h5>
                {% elsif page.url != '/index.html' %}
                    <h5><a href="{{ '/index.html' | prepend: site.url }}">Home </a>-> <a href="{{ '/posts.html' | prepend: site.url }}">Posts </a>-> <a href="{{ page.url }}">{{page.title}}</a></h5>
            {% endif %}
            </div>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
     <script>
        $(function() {
            $('.dial').knob({
                'readOnly':true,
                'angleOffset':180,
                'width': 75,
                'height': 75
            });

        });
        </script>
    <script>
      var cb = function() {
        var l = document.createElement('link'); l.rel = 'stylesheet';
        l.href = '{{'css/main.css' | prepend: site.baseurl }}';
        var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(cb);
      else window.addEventListener('load', cb);
    </script>
  </body>

</html>
