<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-landing">
        <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
     <script>
        $(function() {
            $('.dial').knob({
                'readOnly':true,
                'angleOffset':180,
                'width': 75,
                'height': 75
            });

        });
    </script>
    <script>
      var cb = function() {
        var l = document.createElement('link'); l.rel = 'stylesheet';
        l.href = '{{'css/main.css' | prepend: site.baseurl }}';
        var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(cb);
      else window.addEventListener('load', cb);
    </script>
  </body>

</html>
